---
import Testimonial from './Testimonial.astro';

const quotes = [
	'Lorem ipsum dolor sit amet vero. Ex in clita dolor laoreet. Ut velit invidunt diam sed dolore blandit amet gubergren.',
	'Erat dolore qui sed elit sit sed nulla gubergren volutpat ipsum. Suscipit ut ea nonumy consequat esse et sed.',
	'Et accusam est kasd consetetur sit voluptua duo. Sed nam ut et vero et vero sit blandit. Dolore sed takimata.'
]

const companies = ['Apple', 'Google', 'Tesla'];

const request = await fetch('https://randomuser.me/api/?results=3');
const response = await request.json();
const customers = response.results;

customers.forEach((customer, index) => {
	customer.quote = quotes[index];
	customer.company = companies[index];
})
---

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials">
  <div class="container">
    <div class="main-heading">
      <h2>Testimonials</h2>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
        tincidunt.
      </p>
    </div>
    <div class="content">
      <Testimonial customer={ customers[0] }></Testimonial>
			<Testimonial customer={ customers[1] }></Testimonial>
			<Testimonial customer={ customers[2] }></Testimonial>
    </div>
  </div>
</div>
<!-- End Testimonials -->
<style>
  /* Start Testimonials */
	.testimonials {
		padding-top: var(--section-padding);
		padding-bottom: var(--section-padding);
		background-color: #EFEFEF;
	}
	.testimonials .content {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	@media (max-width: 961px) {
		.testimonials .content {
			flex-direction: column;
		} 
	}
	/* End Testimonials */
</style>